body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Comic Sans MS', cursive;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  color: white;
}

h1 {
  margin-top: 60px;
  font-size: 40px;
}

p {
  font-size: 20px;
  margin: 20px;
}

.nav a {
  display: block;
  margin: 15px;
  padding: 12px;
  background: white;
  color: #ff4d6d;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

.nav a:hover {
  transform: scale(1.1);
}